# Django
COLLECTSTATIC_ON_STARTUP=1
PYTHONENCODING=utf8
DEBUG=0
DJANGO_SECRET_KEY=your_secret_key_here
CONFIGURATION=prod
COMPOSE_IMAGES_PREFIX=dteam

# Postgres
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=db
POSTGRES_USER=dbuser
POSTGRES_PASSWORD=dbpassword

# Broker
REDIS_URL=redis://redis:6379/0

# Web
ALLOWED_HOSTS=example.com
SITE_DOMAIN=example.com
SITE_URL=http://example.com

# Email
EMAIL_HOST_USER=""
EMAIL_HOST_PASSWORD=""

# AI
DEEPL_API_KEY="123:fx"

